.form {
  margin: 3em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-size: 1.75em;
	line-height: 40px;
  font-family: 'Orienta', sans-serif;
  text-align: center;

}

.input {
  margin: 0em 1em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 7em;
  font-size: 1.1em;
}

.button {
  background-color: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 3em;
  width: 7em;
  font-weight: bold;
  font-family: 'Orienta', sans-serif;
  text-shadow: none;
  border-radius: 10%;
}

.button:focus {
  outline-width: 0;
}